.accounts-container {
  padding: 20px;
}
.accounts-container .search {
  float: right;
  margin-bottom: 20px;
}
.accounts-container .box-container {
  clear: right;
  padding: 20px;
  border: 1px solid #b4b4b4;
  margin-bottom: 30px;
}
.accounts-container .user-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.accounts-container .user-box span {
  font-size: 0.9285714285714286rem;
  display: inline-block;
  font-family: sans-serif;
  margin-bottom: 5px;
}
.accounts-container .user-box div {
  width: 50%;
  margin-right: 20px;
}
.accounts-container .user-box div:last-child {
  margin-right: 0;
}
