:root {
  font-size: 14px;
}
html {
  height: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
._keyfocus *:focus,
input:focus:not([disabled]),
textarea:focus:not([disabled]),
select:focus:not([disabled]) {
  box-shadow: none;
}
body {
  line-height: 1;
  height: inherit;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a,
a:link {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #0250b9;
  text-decoration: none;
}
a:hover,
a:link:hover {
  color: #0366eb;
  text-decoration: none;
}
.page-wrapper {
  height: inherit;
}
.page-wrapper .page-main {
  min-height: 100%;
}
.page-main {
  padding-top: 90px;
}
button {
  background: #0250b9;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-size: 1.0714285714285714rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}
button:focus {
  outline: none;
}
button:hover {
  background: #025bd2;
}
button.action {
  font-size: 0.8571428571428571rem;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  max-width: 110px;
}
button.action.disable {
  background: darkred;
}
button.action.disable:hover {
  background: #a40000;
}
button.action.enable {
  background: darkgreen;
}
button.action.enable:hover {
  background: #007e00;
}
button.action.tertiary {
  background: none;
  color: red;
  border: 1px solid;
}
button.action.tertiary:hover {
  background: red;
  color: #fff;
}
form {
  -webkit-flex-basis: 30%;
  -moz-flex-basis: 30%;
  flex-basis: 30%;
}
form input {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
form input:focus {
  outline: none;
  border-color: #0250b9;
}
table {
  width: 100%;
  border: 1px solid #848484;
  border-top: 0;
}
thead {
  width: calc(99%);
}
tbody {
  display: block;
  max-height: 250px;
  overflow-y: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
th,
td {
  /*width: 1%;*/
  padding: 8px;
  text-align: center;
  font-size: 1.0714285714285714rem;
  text-transform: capitalize;
  font-family: sans-serif;
  vertical-align: middle;
}
td:first-child {
  text-transform: capitalize;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: slategrey;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
}
.search {
  margin: 0 0 10px !important;
  padding: 10px;
  font-size: 0.8571428571428571rem;
  font-family: sans-serif;
  width: 100%;
  max-width: 250px;
}
.search:focus {
  outline: none;
  border-color: #0250b9;
}
select {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
select:focus {
  outline: none;
  border-color: #0250b9;
}
.title {
  display: block;
  font-family: sans-serif;
  font-size: 2.142857142857143rem;
  color: #000;
  text-transform: uppercase;
  max-width: 1230px;
  width: 100%;
  margin: 0 0 30px;
}
.block-loader {
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 999;
}
.block-loader .loader-gear {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20% auto;
}
.block-loader .loader-gear:after {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  border: 5px dashed #0250b9;
  position: absolute;
  top: -24px;
  left: -24px;
  box-shadow: inset 0px 0 0 20px #0250b9;
  transform: scale(0.5) rotate(0deg);
  animation: gear 6s linear infinite;
}
.block-loader .loader-gear:before {
  content: '';
  width: 58px;
  height: 58px;
  border-radius: 100%;
  display: block;
  border: 5px dashed #0250b9;
  position: absolute;
  top: 26px;
  right: -14px;
  box-shadow: inset 0px 0 0 10px #0250b9;
  transform: scale(0.5) rotate(0deg);
  animation: gear2 4s linear infinite;
}
@keyframes gear {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}
@keyframes gear2 {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(-360deg);
  }
}
@media only screen and (max-device-width: 1024px) {
  :root {
    font-size: 13px;
  }
}
@media only screen and (max-device-width: 768px) {
  :root {
    font-size: 12px;
  }
}
@media only screen and (max-device-width: 640px) {
  :root {
    font-size: 11px;
  }
}
@media only screen and (max-device-width: 480px) {
  :root {
    font-size: 10px;
  }
}
