.dashboard-container {
  padding: 20px;
  width: 100%;
}
.dashboard-container .search {
  float: right;
}
.dashboard-container .overflow-container {
  max-height: 410px;
  overflow-y: auto;
}
.dashboard-container .overflow-container::-webkit-scrollbar {
  width: 6px;
}
.dashboard-container .overflow-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.dashboard-container .overflow-container::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.dashboard-container .new-rooms-container {
  clear: right;
}
.dashboard-container .new-rooms-container > strong {
  font-family: 'Oswald-reg';
  text-transform: uppercase;
  display: block;
  padding: 15px;
  background: #283142;
  color: #fff;
  margin-bottom: 20px;
}
.dashboard-container .new-rooms-container .new-rooms-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dashboard-container .new-rooms-container .new-rooms-block img {
  background-size: cover;
  display: block;
  margin-bottom: 15px;
  width: 100%;
}
.dashboard-container .new-rooms-container .new-rooms-block span {
  font-family: 'Oswald-reg';
  display: block;
  margin-bottom: 10px;
}
.dashboard-container .new-rooms-container .new-rooms-block span b {
  text-transform: uppercase;
}
.dashboard-container .new-rooms-container .new-rooms-block span:first-of-type {
  display: block;
  font-size: 1.4285714285714286rem;
}
.dashboard-container .new-rooms-container .new-rooms-block button {
  max-width: 100%;
}
.dashboard-container .new-rooms-container .new-rooms-block .target {
  width: 32%;
  border: 1px solid #b4b4b4;
  padding: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.dashboard-container .new-rooms-container .new-rooms-block .target:nth-child(3n + 1) {
  margin-left: 0;
}
.dashboard-container .counter-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 20px;
}
.dashboard-container .counter-container .counter-label {
  border: 2px solid powderblue;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  background-color: #283142;
  border-radius: 20px;
}
.dashboard-container .counter-container .counter-label img {
  width: 48px;
  height: 48px;
}
.dashboard-container .counter-container .counter-label span {
  display: block;
  margin: 20px;
  color: yellow;
}
.dashboard-container .counter-container .counter-label label {
  display: block;
  margin: 15px 0;
  color: #fff;
}
