header {
  background: #464444;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
header .logo-container {
  display: flex;
  width: 50%;
  align-items: center;
}
header .logo-container span {
  font-family: 'Open Sans';
  font-size: 30px;
  padding-left: 10px;
  color: #fff;
}
header .logo-container img {
  max-width: 50px;
  height: 50px;
}
header .login-container {
  padding-right: 20px;
}
header .login-container .login-form-container {
  display: none;
}
header .login-container .login-form-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header .login-container .login-form-container form button {
  flex: 0 1 30%;
  margin-right: 5px;
}
header .login-container .login-form-container form button:last-child {
  margin-right: 0;
}
header .login-container .login {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
header .login-container .login.active + .login-form-container {
  display: block;
  position: absolute;
  width: 300px;
  min-height: 150px;
  background: #fff;
  right: 0;
  top: 72px;
  padding: 15px;
}
