.manage-container {
  margin: 100px 0 50px;
  padding: 0 20px;
}
.manage-container .title {
  display: block;
  font-family: sans-serif;
  font-size: 2.142857142857143rem;
  color: #000;
  text-transform: uppercase;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto 30px;
}
.manage-container .manage-inner-container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.manage-container form {
  -webkit-flex-basis: 30%;
  -moz-flex-basis: 30%;
  flex-basis: 30%;
  padding-right: 40px;
  border-right: 1px solid #b4b4b4;
}
.manage-container form input {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.manage-container table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #848484;
  border-top: 0;
}
.manage-container th,
.manage-container td {
  padding: 8px;
  text-align: center;
}
.manage-container td:first-child {
  text-transform: capitalize;
}
.manage-container tr:nth-child(even) {
  background-color: #f2f2f2;
}
.manage-container th {
  background-color: #0250b9;
  color: #fff;
}
.manage-container .search {
  margin: 0 0 10px !important;
}
.manage-container select {
  padding: 10px;
  width: 100%;
}
.manage-container #wrapper {
  width: 100%;
  padding-left: 40px;
}
.manage-container #wrapper th,
.manage-container #wrapper td {
  width: 1%;
}
.manage-container #wrapper thead > tr {
  position: relative;
  display: block;
}
.manage-container #wrapper tbody {
  display: block;
  max-height: 250px;
  overflow-y: auto;
}
.manage-container.add-room label,
.manage-container.room-management label {
  font-size: 1.0714285714285714rem;
  text-transform: uppercase;
  font-family: sans-serif;
}
.manage-container.add-room input,
.manage-container.room-management input {
  padding: 10px;
  margin-left: 10px;
}
.manage-container.add-room #wrapper,
.manage-container.room-management #wrapper {
  max-width: 700px;
  padding-left: 0;
  margin-top: 20px;
}
.manage-container.add-room button,
.manage-container.room-management button {
  max-width: 150px;
  margin-top: 20px;
  width: 100%;
}
.manage-container.add-room table,
.manage-container.room-management table {
  margin-top: 10px;
}
.manage-container.room-management #wrapper,
.manage-container.room-management table {
  margin-top: 0;
}
