.manage-container {
  margin: 100px 0 50px;
  padding: 0 20px;
}
.manage-container .inner-form-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.manage-container.select-equipments #wrapper {
  padding-left: 0;
}
.manage-container.select-equipments button {
  margin-top: 20px;
  max-width: 200px;
}
.manage-container.room-update #wrapper,
.manage-container.view-reports #wrapper {
  padding-left: 0;
}
.manage-container .tabs {
  position: relative;
}
.manage-container .tabs.accounts li:nth-of-type(2) {
  left: 100px;
}
.manage-container .tabs li {
  position: absolute;
  top: 0;
  padding: 15px 20px;
  border: 1px solid #b4b4b4;
  border-bottom: 0;
  cursor: pointer;
}
.manage-container .tabs li + div {
  display: none;
}
.manage-container .tabs li span {
  font-family: sans-serif;
  font-size: 1.2142857142857142rem;
  text-transform: uppercase;
}
.manage-container .tabs li:nth-of-type(2) {
  left: 103px;
}
.manage-container .tabs li.active {
  background: #0250b9;
}
.manage-container .tabs li.active span {
  color: #fff;
}
.manage-container .tabs li.active + div {
  display: block;
  padding-top: 47px;
}
.manage-container.room-management label {
  font-size: 1.0714285714285714rem;
  text-transform: uppercase;
  font-family: sans-serif;
}
.manage-container.room-management input {
  padding: 10px;
}
.manage-container.room-management .inner-form-container {
  display: block;
}
.manage-container.room-management .tabs li:nth-of-type(2) {
  left: 115px;
}
.manage-container.registration .table-container {
  width: 70%;
  margin-left: 40px;
}
.manage-container.registration .inner-form-container,
.manage-container.list .inner-form-container,
.manage-container.room-management .inner-form-container {
  padding: 20px;
  border: 1px solid #b4b4b4;
}
.manage-container.with-banner .manage-inner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.manage-container.with-banner .banner-container {
  margin-left: 50px;
}
.manage-container.list .tabs li:nth-of-type(2) {
  left: 113px;
}
.manage-container.list .tabs li:nth-of-type(3) {
  left: 229px;
}
.manage-container.list .tabs li:nth-of-type(4) {
  left: 382px;
}
