.main-index .page-main-inner {
  padding: 70px 20px 0;
}
.main-nav {
  background: #bdd5fc;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #0250b9;
  z-index: 2;
}
.main-nav .menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-nav .menu li {
  margin-right: 30px;
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}
.main-nav .menu li .manage {
  position: relative;
}
.main-nav .menu li .manage ul {
  display: none;
}
.main-nav .menu li .manage:hover > ul {
  display: block;
  width: 100%;
  position: absolute;
  background: #bdd5fc;
  left: 0;
  top: 100%;
}
.main-nav .menu li .manage:hover > ul li {
  margin-right: 0;
  border-top: 1px solid #fff;
}
.main-nav .menu li:hover {
  cursor: pointer;
  background: #0250b9;
}
.main-nav .menu li:hover a {
  color: #fff;
}
.main-nav .menu li button {
  margin: 0;
}
.main-nav .menu li button,
.main-nav .menu li .manage {
  font-family: sans-serif;
  font-size: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  color: #212121;
  background: none;
  border: 0;
  padding: 15px 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-weight: 600;
}
.main-nav .menu li button:hover,
.main-nav .menu li .manage:hover {
  color: #fff;
}
.main-nav .menu li button:hover:before,
.main-nav .menu li .manage:hover:before {
  color: #fff;
}
.main-nav .menu li button:before,
.main-nav .menu li .manage:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  font-family: 'monitoring';
  font-size: 1.4285714285714286rem;
  color: #212121;
}
.main-nav .menu li button:focus,
.main-nav .menu li .manage:focus {
  outline: none;
}
.main-nav .menu li button.dashboard:before,
.main-nav .menu li .manage.dashboard:before {
  content: '\e902';
}
.main-nav .menu li button.addequipment:before,
.main-nav .menu li .manage.addequipment:before {
  content: '\e90c';
}
.main-nav .menu li button.manage:before,
.main-nav .menu li .manage.manage:before {
  content: '\e905';
}
.main-nav .menu li button.adduser:before,
.main-nav .menu li .manage.adduser:before {
  content: '\e900';
}
.main-nav .menu li button.catalog:before,
.main-nav .menu li .manage.catalog:before {
  content: '\e90b';
}
.main-nav .menu li button.reports:before,
.main-nav .menu li .manage.reports:before {
  background: url(../images/svg/report-symbol.svg) no-repeat;
  background-size: contain;
  background-position: 100%;
}
.main-nav .menu li button.generatemenu:before,
.main-nav .menu li .manage.generatemenu:before {
  background: url(../images/svg/qr-code.svg) no-repeat;
  background-size: contain;
  background-position: 100%;
}
.main-nav .menu li button span,
.main-nav .menu li .manage span {
  vertical-align: middle;
}
.main-nav .menu li:last-child a {
  margin-right: 0;
}
.main-nav .menu li img {
  max-width: 30px;
  margin-right: 10px;
}
@media only screen and (max-device-width: 1064px) {
  .main-nav .menu li {
    -webkit-flex: 0 1 19%;
    -ms-flex: 0 1 19%;
    flex: 0 1 19%;
  }
}
