.main-nav {
  background: #313a4b;
  z-index: 1;
}
.main-nav img {
  max-width: 250px;
  padding: 30px;
}
.main-nav .menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.main-nav .menu li.parent > span {
  margin: 0;
  font-family: sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #fff;
  background: none;
  border: 0;
  padding: 15px;
  width: 100%;
  max-width: none;
  text-transform: uppercase;
  cursor: pointer;
}
.main-nav .menu li.parent > span > span:first-letter {
  font-size: 18px;
}
.main-nav .menu li.parent > span:hover {
  background: #283142;
  color: #fff;
}
.main-nav .menu li.parent > span:hover:before {
  color: #fff;
}
.main-nav .menu li.parent > span:before {
  content: '';
  display: inline-block;
  font-family: 'monitoring';
  font-size: 1.4285714285714286rem;
  color: #fff;
  margin-right: 15px;
}
.main-nav .menu li.parent > span.adduser:before {
  content: '\e900';
}
.main-nav .menu li.parent ul {
  display: none;
}
.main-nav .menu li.parent.active ul {
  display: block;
  background: #48556e;
}
.main-nav .menu li.parent.active ul button {
  padding: 15px 49px;
  font-size: 0.8571428571428571rem;
}
.main-nav .menu li.parent.active ul button:hover {
  background: #52617d;
}
.main-nav .menu li.parent.active ul button:before {
  display: none;
}
.main-nav .menu li.manage-btn {
  position: relative;
}
.main-nav .menu li.manage-btn ul {
  display: none;
}
.main-nav .menu li.manage-btn:hover > ul {
  display: block;
  width: 100%;
}
.main-nav .menu li.manage-btn:hover > ul li {
  margin-right: 0;
  border-top: 1px solid #fff;
}
.main-nav .menu li.booking-btn {
  position: relative;
}
.main-nav .menu li.booking-btn .counter {
  top: 13px;
  right: 8px;
}
.main-nav .menu li .counter {
  font-size: 0.7142857142857143rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  font-family: sans-serif;
  background: red;
  padding: 5px 6px;
  color: #fff;
}
.main-nav .menu li button {
  margin: 0;
  font-family: sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #fff;
  background: none;
  border: 0;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  max-width: none;
  text-transform: uppercase;
}
.main-nav .menu li button > span:first-letter {
  font-size: 18px;
}
.main-nav .menu li button:hover {
  background: #283142;
  color: #fff;
  /*& > span {
						background: @cobalt;
				    	left: 60px;
				  		opacity: 1;
					}*/
}
.main-nav .menu li button:hover:before {
  color: #fff;
}
.main-nav .menu li button:before {
  content: '';
  display: inline-block;
  font-family: 'monitoring';
  font-size: 1.4285714285714286rem;
  color: #fff;
  margin-right: 15px;
}
.main-nav .menu li button:focus {
  outline: none;
}
.main-nav .menu li button.dashboard:before {
  content: '\e902';
}
.main-nav .menu li button.addequipment:before {
  content: '\e90c';
}
.main-nav .menu li button.manage:before {
  content: '\e905';
}
.main-nav .menu li button.catalog:before {
  content: '\e90b';
}
.main-nav .menu li button.reports:before {
  content: '\e911';
}
.main-nav .menu li button.notifs:before {
  content: '\e912';
}
.main-nav .menu li button.booking:before {
  content: '\e90f';
}
.main-nav .menu li button.equips:before {
  content: '\e910';
}
.main-nav .menu li button.rooms:before {
  content: '\e90e';
}
.main-nav .menu li button span {
  vertical-align: middle;
}
.main-nav .menu li:last-child a {
  margin-right: 0;
}
.main-nav .menu li img {
  max-width: 30px;
  margin-right: 10px;
}
@media only screen and (max-device-width: 1064px) {
  .main-nav .menu li {
    -webkit-flex: 0 1 19%;
    -ms-flex: 0 1 19%;
    flex: 0 1 19%;
  }
}
