.main-nav {
  background: #313a4b;
  z-index: 1;
}
.main-nav img {
  max-width: 250px;
  padding: 30px;
}
.main-nav .menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.main-nav .menu li.parent.active > span:after {
  content: '\e90c';
}
.main-nav .menu li.parent > span {
  position: relative;
  margin: 0;
  font-family: 'Oswald-reg';
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  color: #fff;
  background: none;
  border: 0;
  padding: 15px;
  width: 100%;
  max-width: none;
  text-transform: uppercase;
  cursor: pointer;
}
.main-nav .menu li.parent > span:hover {
  background: #283142;
  color: #fff;
}
.main-nav .menu li.parent > span:hover:before {
  color: #fff;
}
.main-nav .menu li.parent > span:before {
  content: '';
  display: inline-block;
  font-family: 'monitoring';
  font-size: 1.4285714285714286rem;
  color: #fff;
  margin-right: 15px;
}
.main-nav .menu li.parent > span.adduser:before {
  content: '\e900';
}
.main-nav .menu li.parent > span.equips:before {
  content: '\e905';
}
.main-nav .menu li.parent > span.scanner:before {
  content: '\e907';
}
.main-nav .menu li.parent > span.booking:before {
  content: '\e901';
}
.main-nav .menu li.parent > span.facilities:before {
  content: '\e90b';
}
.main-nav .menu li.parent > span:after {
  position: absolute;
  right: 16px;
  content: '\e90d';
  display: inline-block;
  font-family: 'monitoring';
  font-size: 0.9285714285714286rem;
  color: #fff;
}
.main-nav .menu li.parent ul {
  display: none;
}
.main-nav .menu li.parent.active > ul {
  display: block;
  background: #48556e;
}
.main-nav .menu li.parent.active > ul > li.parent > span {
  font-size: 0.8571428571428571rem;
  padding: 15px 49px;
}
.main-nav .menu li.parent.active > ul > li.parent > span:before {
  display: none;
}
.main-nav .menu li.parent.active > ul > li.parent > span:after {
  right: 48px;
}
.main-nav .menu li.parent.active > ul > li.parent > span:hover {
  background: #52617d;
}
.main-nav .menu li.parent.active > ul > li.parent button {
  padding: 15px 62px;
}
.main-nav .menu li.parent.active > ul button {
  padding: 15px 49px;
  font-size: 0.8571428571428571rem;
}
.main-nav .menu li.parent.active > ul button:hover {
  background: #52617d;
}
.main-nav .menu li.parent.active > ul button:before {
  display: none;
}
.main-nav .menu li.manage-btn {
  position: relative;
}
.main-nav .menu li.manage-btn ul {
  display: none;
}
.main-nav .menu li.manage-btn:hover > ul {
  display: block;
  width: 100%;
}
.main-nav .menu li.manage-btn:hover > ul li {
  margin-right: 0;
  border-top: 1px solid #fff;
}
.main-nav .menu li.booking-btn {
  position: relative;
}
.main-nav .menu li.booking-btn .counter {
  position: absolute;
  top: 24px;
  left: 23px;
  font-size: 0.7142857142857143rem;
  color: #fff;
  padding: 3px 5px;
  line-height: 1;
  display: inline-block;
  background: #ff191b;
  border-radius: 25px;
}
.main-nav .menu li button {
  margin: 0;
  font-family: 'Oswald-reg';
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  color: #fff;
  background: none;
  border: 0;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  max-width: none;
  text-transform: uppercase;
}
.main-nav .menu li button:hover {
  background: #283142;
  color: #fff;
}
.main-nav .menu li button:hover:before {
  color: #fff;
}
.main-nav .menu li button:before {
  content: '';
  display: inline-block;
  font-family: 'monitoring';
  font-size: 1.4285714285714286rem;
  color: #fff;
  margin-right: 15px;
}
.main-nav .menu li button:focus {
  outline: none;
}
.main-nav .menu li button.dashboard:before {
  content: '\e902';
}
.main-nav .menu li button.scanner:before {
  content: '\e907';
}
.main-nav .menu li button.addequipment:before {
  content: '\e90c';
}
.main-nav .menu li button.reports:before {
  content: '\e908';
}
.main-nav .menu li button.notifs:before {
  content: '\e90a';
}
.main-nav .menu li button.booking:before {
  content: '\e901';
}
.main-nav .menu li button.equips:before {
  content: '\e910';
}
.main-nav .menu li button.rooms:before {
  content: '\e90b';
}
.main-nav .menu li button span {
  vertical-align: middle;
}
.main-nav .menu li:last-child a {
  margin-right: 0;
}
.main-nav .menu li img {
  max-width: 30px;
  margin-right: 10px;
}
@media only screen and (max-device-width: 1064px) {
  .main-nav .menu li {
    -webkit-flex: 0 1 19%;
    -ms-flex: 0 1 19%;
    flex: 0 1 19%;
  }
}
