.scanner-container {
  width: 100%;
  padding: 20px;
}
.scanner-container .scan-wrapper form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.scanner-container .scan-wrapper button {
  margin-top: 0;
}
.scanner-container .scan-wrapper input {
  width: 100%;
  margin: 20px 0;
}
.scanner-container .scan-wrapper video {
  height: 200px;
}
