@import "variable.less";

.booking-container {
  margin: 40px 20px;
  padding: 0 25px;

  .title {
    display: block;
    font-family: @font-family-base;
    .font-size(30);
    color: @color-black;
    text-transform: uppercase;
    max-width: @page-max_width;
    width: 100%;
    margin: 0 auto 30px;
  }

  .subtitle {
    .font-size(20);
    display: inline-block;
    color: @color-black;
    text-transform: uppercase;
    font-family: @font-family-base;
    margin-bottom: 20px;
  }

  .booking-wrapper,
  .booking-table {
    border: 1px solid @border-color;
    padding: 20px;
    font-family: @font-family-base;
  }

  .booking-wrapper {
    .flex-basis(30%);
    background: #fff;
  }

  .booking-table {
    margin-top: 30px;
    .flex-basis(70%);
    background: @white;

    #wrapper {
      width: 100%;
      padding-left: 0;
    }

    th, td { 
      .font-size(11);
    }
  }

  .search-box {
    position: relative;
  }

  .result {
    position: absolute;        
    z-index: 999;
    top: 38px;
    left: 0;
    width: 100%;

    p {
      margin: 0;
      padding: 7px 10px;
      border-top: none;
      cursor: pointer;
      background: lightgray;
      
      border: 1px solid gray;

      &:hover {
        background: #f2f2f2;
      }
    }
  }

  .field {
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;

    input {
        width: auto;
      }

    &.equipments-field {
      display: block;
    }

    label, span {
      text-transform: uppercase;
      margin-bottom: 5px;
      display: inline-block;
    }

    /*input, select {
      padding: 5px;
    }*/

    .wrapper {
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid @border-color;
      padding: 20px;

      div {
        .flex-layout;
        .flex-align(center);
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
