@import "variable.less";

.booking-container {
  padding: 20px;

  .booking-wrapper {
    margin-bottom: 30px;
  }

  .grid-container {
    .flex-layout;
    .flex-wrap(wrap);

    label {
        .font-size(10);
        font-family: @font-family-base;
        margin-bottom: 5px;
        display: inline-block;
        text-transform: uppercase;
      }

    .field {
      width: 32%;
      margin-left: 10px;

      &:nth-child(3n + 1) {
        margin-left: 0;
      }
    }

    .equipments-field {
      width: 100%;

      .search {
        float: none;
      }

      .equipments-wrapper {
        & > label {
          margin-bottom: 10px;
        }

        & > div {
        .flex-layout;
        .flex-align(center);
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;

        label {
          .font-size(15);
          margin-bottom: 0;
          margin-left: 10px;
        }

        input {
          margin-bottom: 0;
          width: auto;
        }
      }
      }
    }
  }

  .booking-table {
    #wrapper {
      width: 100%;
      padding-left: 0;
    }

    th, td { 
    .font-size(11);
    }
  }
}
