@import "variable.less";


.dashboard-container {
	margin-top: 60px;

	.new-equipments-container {
		margin: 90px 25px 0;
		position: relative;

		.new-equipments-block {
			padding: 0 20px;
		}

		strong {
			display: block;
			padding: 15px 20px;
			background: @cobalt;
			color: @white;
			.font-size(17);
			text-transform: uppercase;
			font-family: sans-serif;
			margin-bottom: 10px;
		}

		.owl-carousel {
			position: static;
		}

		.owl-nav {
			right: 17px;
    		top: 11px;
    		position: absolute;
		}

		.owl-prev,
		.owl-next {
			display: inline-block;
		    vertical-align: top;
		    width: 28px;
		    height: 24px;
		    line-height: 25px;
		    background: #f4f3f4;
		    font-family: @font-family-base;
		    .font-size(15);
		    text-align: center;
		    color: @mine-shaft;
		}

		.owl-prev {
		    border-right: solid 1px #dbdbdb;
		    .round-borders-top-left(5px);
		    .round-borders-bottom-left(5px);
		}

		.owl-next {
		    border-left: solid 1px #dbdbdb;
		    .round-borders-top-right(5px);
		    .round-borders-bottom-right(5px);
		}
	}
}