@import "variable.less";

footer {
	margin-top: auto;

	.topfooter {
		background: @sail;
		.flex-layout;
		.flex-align(center);
		padding: 25px;
	}

	.left-container {
		.flex-layout;
		.flex-direction(column);
		.flex-justify-content(center);
		width: 50%;
		text-align: center;	

		a {
			margin-bottom: 20px;
			.font-size(18);
			font-family: 'Open Sans';

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.right-container {
		width: 50%;
		text-align: center;	

		.logo {
			img {
				margin-top: 20px;
				width: 100%;
				max-width: 380px;
			}
	  	}

	  	.dept-logo{
	  		margin-top: 10px;

	  		img {
	  			width: 100%;
	  			max-width: 50px;
	  			margin-right: 10px;

	  			&:last-child {
	  				margin-right: 0;
	  			}
	  		}	
	  	}
	}

	.botfooter {
	background: @cobalt;
	text-align: center;
	padding: 20px;
	.font-size(15);
	font-family: 'Open Sans';
	color: @white;
	}
}