footer {

	.topfooter {
		
		background: #93c6c7;
		display: flex;
		align-items: center;
	}

	.left-container {
		padding: 20px;
		display: flex;
		flex-direction: column;
		width: 50%;
		text-align: center;	
		justify-content: center;

		a {
			margin-bottom: 20px;
			font-size: 20px;
			color: #287f81;
		}
	}

	.right-container {
		width: 50%;
		text-align: center;	

		.logo {
				img{
					margin-top: 20px;
					width: 380px;
					}
	  	}

	  	.dept-logo{
	  			img {
	  				width: 70px;
	  				margin-bottom: 20px;
	  			}
	  	}
	}

	.botfooter {
	background: #287f81;
	text-align: center;
	padding: 20px;
	font-size: 15px;
	color: #fff;
	}
}