header {
	background: #464444;
	display: flex;
	padding: 10px;
	justify-content: space-between;	
	align-items: center;

	.logo-container {
		display: flex;
		width: 50%;
		align-items: center;


		span {
			font-family: 'Open Sans';
			font-size: 30px;
			padding-left: 10px;
			color: #fff;
		}

		img {
			max-width: 50px;
			height: 50px;
		}
	}

	.login-container {
		padding-right: 20px;

		.login-form-container {
			display: none;

			form {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				button {
					flex: 0 1 30%;
					margin-right: 5px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		.login {
			font-size: 20px;
			color: #fff;
			cursor: pointer;

			&.active + .login-form-container {
				display: block;
				position: absolute;
				width: 300px;
				min-height: 150px;
				background: #fff;
				right: 0;
    			top: 72px;
    			padding: 15px;
			}
		}
	}
}