@import "variable.less";


.main-index  {

	header, footer {
		display: none;
	}

	.page-main-inner {
	    padding: 70px 20px 0;
	}

	.top-container {
		.flex-layout;
		.flex-align(center);
		postion: relative;
		width: 100%;
		margin-bottom: 40px;
   		padding-bottom: 20px;
   		border-bottom: 1px solid #ccc;

		& > strong {
			.font-size(30);
			.flex-grow(1);
			font-family: @font-family-base;
			text-transform: uppercase;
		}

		.counter {
			.font-size(10);
			color: @white;
		    padding: 3px 5px;
		    line-height: 1;
		    display: inline-block;
		    background: @torch-red;
		    border-radius: 25px;
		    position: absolute;
		    top: 15px;
		    right: 60px;
		}

		.logout {
			&:after {
				content: @logout-icon;
			    display: inline-block;
			    font-family: @font-monitoring-icon;
			    .font-size(20);
			    color: @mine-shaft;
			    vertical-align: middle;
			    background: @white;
			    margin-left: 10px;
			}

			&:hover:after {
				opacity: 0.8;
			}
		}

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		table {
			border: 0;
		}

		tr { 
			border-bottom: 1px solid #ccc;
			padding: 10px;

			&:last-child {
				border-bottom: 0;
			} 
		}

		td { 
			border: none;
			text-align: left;
			padding: 0;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		td:before {
			.font-size(10);
			display: block;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		td:nth-of-type(1):before { 
			content: "Name"; 
		}

		td:nth-of-type(2):before { 
			content: "Equipment"; 
		}

		td:nth-of-type(3):before { 
			content: "Message"; 
		}

		.notifs {
			&:hover {
				opacity: 0.9;
			}

			&:before {
				content: @notifs-icon;
			    display: inline-block;
			    font-family: @font-monitoring-icon;
			    .font-size(20);
			    color: @mine-shaft;
			    vertical-align: middle;
			    background: @white;
			    cursor: pointer;
			}

			&.active ~ .notifs-wrapper {
				display: block;
			    position: absolute;
			    right: 52px;
			    top: 50px;
			    width: 100%;
			    max-width: 322px;
			    background: @white;
			    border: 1px solid #ccc;
			}

			&-container {
				& > .notifs-wrapper {
					display: none;

					& > strong {
						.font-size(16);
						display: block;
    					padding: 10px;
					    text-transform: uppercase;
					    border-bottom: 1px solid #ccc;
					    font-family: @font-family-base;
					    border-bottom: 1px solid #ccc;
					}

					button {
						max-width: 100%;
					}
				}
			}
		}
	}
}