@import "variable.less";


.main-index  {

	header, footer {
		display: none;
	}

	.page-main-inner {
	    padding: 70px 20px 0;
	}

	.top-container {
		.flex-layout;
		.flex-align(center);
		.flex-justify-content(space-between);
		width: 100%;
		margin-bottom: 40px;
   		padding-bottom: 20px;
   		border-bottom: 1px solid @border-color;

		& > strong {
			.font-size(30);
			font-family: @font-family-base;
			text-transform: uppercase;
		}

		.logout {
			&:after {
				content: @logout-icon;
			    display: inline-block;
			    font-family: @font-monitoring-icon;
			    .font-size(20);
			    color: @mine-shaft;
			    vertical-align: middle;
			    background: @white;
			}

			&:hover:after {
				opacity: 0.8;
			}
		}
	}
}