@import "variable.less";

.manage-container {
	margin: 100px 0 50px;
	padding: 0 20px;

	.title {
		display: block;
		font-family: @font-family-base;
		.font-size(30);
		color: @color-black;
		text-transform: uppercase;
		max-width: @page-max_width;
		width: 100%;
		margin: 0 auto 30px;
	}

	.manage-inner-container {
		max-width: @page-max_width;
		width: 100%;
		margin: 0 auto;
		.flex-layout;
	}

	form {
		.flex-basis(30%);
		padding-right: 40px;
		border-right: 1px solid @border-color;

	    input {
	    	display: block;
	    	padding: 10px;
	    	margin-bottom: 10px;
	    	width: 100%;
	    }
	}

	table {
	    border-collapse: collapse;
	    width: 100%;
	    border: 1px solid @color-gray;
	    border-top: 0;
	}

	th, td {
	    padding: 8px;
	    text-align: center;
	}

	td:first-child {
		text-transform: capitalize;
	}

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	th {
	    background-color: @cobalt;
	    color: @white;
	}

	.search {
		margin: 0 0 10px !important;
	}

	select {
		padding: 10px;
		width: 100%;
	}

	#wrapper {
		width: 100%;
		padding-left: 40px;

		th,
		td {
			width: 1%;
		}

		thead > tr {
			position: relative;
			display: block;
		}

		tbody {
			display: block;
			max-height: 250px;
			overflow-y: auto;
		}
	}

	&.add-room,
	&.room-management {
		label {
			.font-size(15);
			text-transform: uppercase;
			font-family: @font-family-base;
		}

		input {
			padding: 10px;
			margin-left: 10px;
		}

		#wrapper {
			max-width: 700px;
			padding-left: 0;
			margin-top: 20px;
		}

		button {
			max-width: 150px;
			margin-top: 20px;
			width: 100%;
		}

		table {
			margin-top: 10px;
		}
	}

	&.room-management {
		#wrapper,
		table {
			margin-top: 0;
		}
	}
}