@import "variable.less";



.main-nav {
	background: @sail;
	z-index: 1;

	img {
		max-width: 250px;
	    padding: 30px;
	    
	}

	.menu {
		.flex-layout;
		.flex-direction(column);

		li {
			&.parent {
				&.active > span:after {
					content: @minus-icon;
				}

				& > span {
					position: relative;
					margin: 0;
					font-family: @font-family-base;
					.flex-layout;
					.flex-align(center);
					color: @white;
					background: none;
					border: 0;
					padding: 15px;	
					cursor: pointer;
					width: 100%;
					max-width: none;
					text-transform: uppercase;
					cursor: pointer;

					&:hover {
						background: @cobalt;
						color: @white;

						&:before {
							color: @white;
						}
					}

					&:before {
						content: '';
					    display: inline-block;
					    font-family: @font-monitoring-icon;
					    .font-size(20);
					    color: @white;
					    margin-right: 15px;
					}

					&.adduser:before {				   
				   		content: @adduser-icon;
					}

					&.equips:before {				   
				    	content: @equipment-icon;
					}

					&.facilities:before {				   
				   		content: @facilities-icon;
					}

					&:after {
						position: absolute;
    					right: 16px;
						content: @plus-icon;
					    display: inline-block;
					    font-family: @font-monitoring-icon;
					    .font-size(13);
					    color: @white;
					}
				}
				
				ul {
					display: none;
				}

				&.active > ul {
					display: block;
					background: #48556e;

					& > li.parent {
						& > span {
							.font-size(12);
							padding: 15px 49px;

							&:before {
								display: none;
							}

							&:after {
								right: 48px;
							}

							&:hover {
								background: lighten(#48556e, 5%);
							}
						}

						button {
							padding: 15px 62px;
						}
					}

					button {
						padding: 15px 49px;
						.font-size(12);

						&:hover {
							background: lighten(#48556e, 5%);
						}

						&:before {
							display: none;
						}
					}
				}
			}
			
			&.manage-btn {
				position: relative;

				ul {
					display: none;
				}

				&:hover > ul {
					display: block;
					width: 100%;

					li {
						margin-right: 0;
						border-top: 1px solid @white;
					}
				}
			}

			&.booking-btn {
				position: relative;	

				.counter {
					position: absolute;
					top: 24px;
    				left: 23px;
			    	.font-size(10);
					color: @white;
				    padding: 3px 5px;
				    line-height: 1;
				    display: inline-block;
				    background: @torch-red;
				    border-radius: 25px;
				}
			}

			button {
				margin: 0;
				font-family: @font-family-base;
				.flex-layout;
				.flex-align(center);
				color: @white;
				background: none;
				border: 0;
				padding: 15px;	
				cursor: pointer;
				width: 100%;
				max-width: none;
				text-transform: uppercase;

				&:hover {
					background: @cobalt;
					color: @white;

					&:before {
						color: @white;
					}
				}

				&:before {
					content: '';
				    display: inline-block;
				    font-family: @font-monitoring-icon;
				    .font-size(20);
				    color: @white;
				    margin-right: 15px;
				}

				&:focus {
					outline: none;
				}

				&.dashboard:before {
				    content: @dashboard-icon;
				}

				&.scanner:before {
				    content: @qr-icon;
				}

				&.addequipment:before {
					content: @addequipment-icon;
				}

				&.reports:before {				   
				    content: @report-icon;
				}

				&.notifs:before {
				   	content: @notifs-icon;
				}

				&.booking:before {
				    content: @booking-icon;
				}

				&.equips:before {
				    content: @equips-icon;
				}

				&.rooms:before {
				    content: @rooms-icon;
				}

				span {
					vertical-align: middle;
				}
			}

			&:last-child a {
				margin-right: 0;
			}

			img {
				max-width: 30px;
				margin-right: 10px;
			}
		}
	}
}

@media only screen and (max-device-width : 1064px) {
	.main-nav .menu li {
		.flex-value(0 1 19%);
	}
}