@import "variable.less";

.reports-container {
    margin-top: 70px;
    padding: 20px;

  .title {
    display: block;
    font-family: @font-family-base;
    .font-size(30);
    color: @color-black;
    text-transform: uppercase;
    max-width: @page-max_width;
    width: 100%;
    margin: 0 auto 30px;
  }
}