@import "variable.less";

.scan-container {
	.flex-layout;

	form {	
	text-align: center;
	padding: 50px;
	border: 1px solid @border-color;
	width: 50%;
	margin: 0 auto;
	margin-top: 80px;

		.CameraBtn {
			height: 150px;
			margin-bottom: 30px;
		}
	}
}